<?xml version='1.0' encoding='utf-8'?>
<widget id="ru.flint3s.bushedelivery" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>буше доставка</name>
    <description>Приложение доставки буше</description>
    <author email="info@flint3s.ru" href="https://bushe.flint3s.ru">
        flint3s
    </author>
    <icon platform="android" src="resources/icon.png"/>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
