@import "./lib/bootstrap-utilities.min.css";
@import "./lib/bootstrap-grid.min.css";
@import "./fonts/bushe-font.css";
@import "animations.css";

:root {
    --orange-accent: #F0A72D;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body {
    transition: background-color .3s ease;
    font-family: "bushe grotesque", serif;
    margin: 0;
    padding: 0;
}

hr {
    margin: 1rem 0;
    color: inherit;
    border: 0;
    border-top: var(--bs-border-width) solid;
    opacity: 0.25;
}

h6, h5, h4, h3, h2, h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    color: var(--bs-heading-color);
}

div, span {
    font-size: 16px;
}

html[theme="dark"] html, html[theme="dark"] body {
    background: rgb(23, 23, 23);
}

html[theme="light"] html, html[theme="light"] body {
    background: rgb(255, 255, 255);
}